### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [1]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Player count

num=purchase_data.drop_duplicates(['SN']).shape[0] #不重複個數
pd.DataFrame(data=[num],columns=["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [3]:
#Purchasing Analysis (Total)

unique_item=purchase_data.drop_duplicates(['Item ID']).shape[0]

price=np.mean(purchase_data["Price"])
avg_price=float("%.2f"%price) #取小數點下兩位


num_purchase=purchase_data.shape[0]

revenue=price*num_purchase
total_revenue=float("%.2f"%revenue)

pur_an_dict={"Number of Unique Items":[unique_item],"Average Price":["$"+str(avg_price)],"Number of Purchases":[num_purchase],"Total Revnenue":["$"+str(total_revenue)]}
pd.DataFrame(pur_an_dict)

   Number of Unique Items Average Price  Number of Purchases Total Revnenue
0                     183         $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Gender Demographics

dict={"SN":purchase_data["SN"],"Gender":purchase_data["Gender"]}
df=pd.DataFrame(dict)
df=df.drop_duplicates(subset='SN', keep="first") #根據SN刪除重複的列
series=df["Gender"].value_counts()

df_new=series.to_frame() #將series轉換為data frame
df_new2=df_new.rename(columns={'Gender':'Total count'})

a=df_new.iloc[0,0] #Male的個數
b=df_new.iloc[1,0] #Female
c=df_new.iloc[2,0] #Other/Non-Disclosed
sum=a+b+c
d=float("%.4f"%(a/sum))*100
e=float("%.4f"%(b/sum))*100
f=float("%.4f"%(c/sum))*100

df_new2.insert(0,'Percentage of Players',[d,e,f]) 
df_new2

                       Percentage of Players  Total count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [5]:
#Purchasing Analysis (Gender)

freq=purchase_data.groupby(["Gender"]).count()
freq=freq.rename(columns={'Purchase ID':'Purchase Count','SN':'Average Purchase Price','Age':'Total Purchase Value',"Item ID":'Avg Purchase Total per Person'})
del freq["Item Name"]
del freq["Price"]
freq[["Average Purchase Price","Total Purchase Value","Avg Purchase Total per Person"]]=0
freq #將此題的dataframe格式做好,接下來只需賦值

f_price_total=0
m_price_total=0
o_price_total=0
for i in range(len(purchase_data)):
    if purchase_data["Gender"][i] =="Female":
        f_price_total+=purchase_data["Price"][i]
    if purchase_data["Gender"][i] =="Male":
        m_price_total+=purchase_data["Price"][i]
    if purchase_data["Gender"][i] =="Other / Non-Disclosed":
        o_price_total+=purchase_data["Price"][i]
f_price_total=float("%.2f"%f_price_total)
m_price_total=float("%.2f"%m_price_total)
o_price_total=float("%.2f"%o_price_total)

g=[f_price_total,m_price_total,o_price_total] 
freq["Total Purchase Value"]=g #賦值給Total Purchase Value
h=freq["Purchase Count"]
freq["Average Purchase Price"]=g/h
freq["Average Purchase Price"]["Female"]=float("%.5f"%freq["Average Purchase Price"]["Female"])
freq["Average Purchase Price"]["Male"]=float("%.5f"%freq["Average Purchase Price"]["Male"])
freq["Average Purchase Price"]["Other / Non-Disclosed"]=float("%.3f"%freq["Average Purchase Price"]["Other / Non-Disclosed"])
freq

avg_female=g[0]/b
avg_female="$"+str(float("%.2f"%avg_female))
avg_male=g[1]/a
avg_male="$"+str(float("%.2f"%avg_male))
avg_other=g[2]/c
avg_other="$"+str(float("%.2f"%avg_other))
avg=[avg_female,avg_male,avg_other]
freq["Avg Purchase Total per Person"]=avg
freq

<ipython-input-5-eab6dcf2d781>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freq["Average Purchase Price"]["Female"]=float("%.5f"%freq["Average Purchase Price"]["Female"])
<ipython-input-5-eab6dcf2d781>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freq["Average Purchase Price"]["Male"]=float("%.5f"%freq["Average Purchase Price"]["Male"])
<ipython-input-5-eab6dcf2d781>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  freq["Average Purchase Price"]["Other / Non-Disclosed"]=float("%.3f"%freq["Average Purchase Price"]["Other / Non-Disclosed"])

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.20301,361.94,$4.47
Male,652,3.01785,1967.64,$4.07
Other / Non-Disclosed,15,3.34600,50.19,$4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [6]:
#Age Demographics

unrepeated=purchase_data.drop_duplicates(subset='SN', keep="first") #不重複的player
age=unrepeated["Age"].tolist()
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names=["","10-14","15-19","20-24","25-29","30-34","35-39","40+"] 
age_cut=pd.cut(age,bins,right=False,labels=group_names)
age_interval=pd.value_counts(age_cut)
age_interval_df=age_interval.to_frame()
age_interval_df=age_interval_df.rename(columns={0:'Total Count'})
age_df=age_interval_df.sort_index()

sum=age_df["Total Count"].sum()
percent_players=[]
for i in range(len(age_df)):
    num=age_df["Total Count"][i]
    percent_players.append(float("%.2f"%(num/sum*100))) #Append Percentage of Players

age_df.insert(0,'Percentage of Players',percent_players) 
age_df

       Percentage of Players  Total Count
                        2.95           17
10-14                   3.82           22
15-19                  18.58          107
20-24                  44.79          258
25-29                  13.37           77
30-34                   9.03           52
35-39                   5.38           31
40+                     2.08           12

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

In [7]:
#Purchasing Analysis(Age)

age=purchase_data["Age"].tolist()
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names=["","10-14","15-19","20-24","25-29","30-34","35-39","40+"] 
age_cut=pd.cut(age,bins,right=False,labels=group_names) #按照年齡區間分組
age_interval=pd.value_counts(age_cut)

age_interval_df=age_interval.to_frame()
age_interval_df=age_interval_df.rename(columns={0:'Purchase Count'})
age_interval_df
new=age_interval_df.sort_index()

lst=[0]*8
for i in range(len(purchase_data)):
    if purchase_data["Age"][i]<10:
        lst[0]+=purchase_data["Price"][i]
    if 10<=purchase_data["Age"][i]<15:
        lst[1]+=purchase_data["Price"][i]
    if 15<=purchase_data["Age"][i]<20:
        lst[2]+=purchase_data["Price"][i]
    if 20<=purchase_data["Age"][i]<25:
        lst[3]+=purchase_data["Price"][i]
    if 25<=purchase_data["Age"][i]<30:
        lst[4]+=purchase_data["Price"][i]
    if 30<=purchase_data["Age"][i]<35:
        lst[5]+=purchase_data["Price"][i]
    if 35<=purchase_data["Age"][i]<40:
        lst[6]+=purchase_data["Price"][i]
    if 40<=purchase_data["Age"][i]:
        lst[7]+=purchase_data["Price"][i]
        
#lst 為 total purchase value 
#將數值存為list方便運算
for i in range(len(lst)):
    lst[i]=float("%.2f"%lst[i])

purchase_count=new["Purchase Count"].tolist() 
avg_price=[]
for i in range(len(purchase_count)):
   avg_price.append(lst[i]/purchase_count[i])
for i in range(len(avg_price)):
    avg_price[i]=float("%.2f"%avg_price[i])
    avg_price[i]="$"+str(avg_price[i])
new.insert(1,'Average Purchase Price',avg_price)
new

person=age_df["Total Count"].tolist()  #取用上題不重複人的數據

avg_price_person=[]
for i in range(len(person)):
   avg_price_person.append(lst[i]/person[i])
for i in range(len(avg_price_person)):
    avg_price_person[i]=float("%.2f"%avg_price_person[i])
    avg_price_person[i]="$"+str(avg_price_person[i])
for i in range(len(lst)):
    lst[i]="$"+str(lst[i])
new.insert(2,'Total Purchase Value',lst)
new.insert(3,"Average Purchase Total per Person",avg_price_person)
new

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

In [8]:
#Top Spenders

dict={"SN":purchase_data["SN"],"Price":purchase_data["Price"]}
df=pd.DataFrame(dict)
gp=df.groupby("SN")
gp=gp.sum() #計算個人price的總和
gp=gp.sort_values(by="Price",ascending=False) 
gp=gp.head(5) #取Price 前五名
lst=[0]*5
gp.insert(0,"Purchase Count",lst)
gp.insert(1,"Average Purchase Price",lst)
gp

#接下來賦值
name=gp.index.tolist() #將SN轉存為函式
name
count=[0]*5 #存name的purchase count
for i in range(len(name)):
    for j in range(len(purchase_data)):
        if name[i]==purchase_data["SN"][j]:
            count[i]+=1

gp["Purchase Count"]=count

price_total=gp["Price"].tolist()
avg_price=[]
for i in range(len(count)):
    avg_price.append(price_total[i]/count[i])
for i in range(len(avg_price)):
    avg_price[i]=float("%.2f"%avg_price[i])
    avg_price[i]="$"+str(avg_price[i])
gp["Average Purchase Price"]=avg_price
for i in range(len(price_total)):
    price_total[i]=float("%.2f"%price_total[i])
    price_total[i]="$"+str(price_total[i])
gp["Price"]=price_total
gp.rename(columns={"Price":"Total Purchase Value"})
gp

             Purchase Count Average Purchase Price   Price
SN
Lisosia93                 5                  $3.79  $18.96
Idastidru52               4                  $3.86  $15.45
Chamjask73                3                  $4.61  $13.83
Iral74                    4                   $3.4  $13.62
Iskadarya95               3                  $4.37   $13.1

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

In [9]:
#Most Popular Items
dict={"Item ID":purchase_data["Item ID"],"Item Name":purchase_data["Item Name"]}
df=pd.DataFrame(dict)
df

gp=df.groupby(["Item ID"])  #按照同個item ID 的數量分組
num=gp.count()
num=num["Item Name"].tolist()  #num list

dict_2={"Item ID":purchase_data["Item ID"],"Item Name":purchase_data["Item Name"],"Total Purchase Value":purchase_data["Price"]}
df2=pd.DataFrame(dict_2)
df2

gp2=df2.groupby(["Item ID","Item Name"])
gp2=gp2.sum()
gp2.insert(0,"Purchase Count",num)
gp2=gp2.sort_values(by=["Purchase Count"],ascending=False)
gp2=gp2.head(5)
gp2

a=gp2["Purchase Count"].tolist()
b=gp2["Total Purchase Value"].tolist()
c=[0]*5
for i in range(len(c)):
    c[i]=b[i]/a[i]
    c[i]="%.2f"%c[i]
    c[i]="$"+c[i]
    
gp2.insert(1,"Item Price",c)
gp2

for i in range(len(b)):
    b[i]="%.2f"%b[i]
    b[i]="$"+str(b[i])

gp2["Total Purchase Value"]=b
gp2

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame

In [10]:
#Most Profitable Items
dict={"Item ID":purchase_data["Item ID"],"Item Name":purchase_data["Item Name"],"Price":purchase_data["Price"]}
df=pd.DataFrame(dict)
df

gp=df.groupby(["Item ID","Item Name"])

gp_sum=gp.sum() #total price

#gp_sum=gp_sum.sort_values(by=["Price"],ascending=False)
gp_sum
count_list=gp.count()["Price"].tolist()
gp_sum.insert(0,"Purchase Count",count_list)
gp_sum=gp_sum.sort_values(by=["Price"],ascending=False)
gp_sum=gp_sum.head(5)
gp_sum

count_sort=gp_sum["Purchase Count"].tolist()
price_value=gp_sum["Price"].tolist()
avg_price=[0]*5
for i in range(len(avg_price)):
    avg_price[i]=price_value[i]/count_sort[i]
    avg_price[i]="%.2f"%avg_price[i]
    avg_price[i]="$"+str(avg_price[i])
#avg_price
#price_value
#count_sort

for i in range(len(price_value)):
    price_value[i]="%.2f"%price_value[i]
    price_value[i]="$"+str(price_value[i])
#price_value

gp_sum["Price"]=price_value
gp_sum.insert(1,"Item Price",avg_price)
gp_sum

,,Purchase Count,Item Price,Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80